.twitter-tweet {
  padding: 40px;
}

.annonce {
  width: 100%;
  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &-middle {
    margin-top: 40px;
  }
  &-title {
    text-align: center;
    color: #aaa;
    font-size: 1.6rem;
  }

  &-tweet {
    padding: 40px;
  }
}
