.menu {
  position: relative;
  &-navigation {
    height: 45px;
    z-index: 34;
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    bottom: 0;
    position: fixed;
    background-color: #111111;
    box-shadow: 6px 6px 6px 6px #020202;
}
&-liste {
  color: #fff;
  cursor: pointer;
  text-decoration: underline;
}
  &-social {
    position: fixed;
    right: 40px;
    z-index: 2;
  }

  &-socialContent {
    display: block;
    width: 30px;
    margin-top: 15px;
  }

  &-socialImg {
    width: 100%;
  }
  &-openMenu {
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 70vh;
    background: rgba(80, 225, 194, 0.90);
    z-index: 33;
    bottom: -70vh;
    @include for-size (tablet-portrait-up) {
      width: 50%;
      left: 50%;
      transform: translateX(-50%);
      font-size: 18px;
      border-radius: 10px;
    }
    &-modal {
      width: 100%;
    }

    &-closeLink {
      width: 30px;
      display: block;
      margin: auto;
      padding-top: 50px;
      cursor: pointer;
    }
    &-texts {
      margin: 150px auto 0 auto;
      width: 40%;
      &-link {
          font-size: 14px;
          line-height: 21px;
          color: white;
          text-decoration: none;
          justify-content: center;
          display: flex;
          margin-top: 30px;
          border-radius: 10px;
          @include for-size(tablet-portrait-up) {
            font-size: 20px;
            margin-top: 50px;
          }
          &:hover {
            box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2)
          }
      }
    }
  }
}

.translate {
  opacity: 1;
  bottom: 0;
  animation: translate 3s;
}

@keyframes translate {
  FROM
  {
    bottom: -70vh;
  }
  TO
  {
    bottom: 0;
  }
}
